# NOTE: if you have file "~/.secrets", then its contents
# will be taken from there automatically

export ADAFRUIT_IO='https://io.adafruit.com'
export IO_USERNAME='username'
export IO_KEY='aio_xxxxxx'
#export IO_HOME_WEATHER='1234'
#export IO_RANDOM_ID='4321'
export MQTT_LOCAL_BROKER_IP='localhost'
#export OPENWEATHER_API='xxxxx'
## https://openweathermap.org/current
## http://bulk.openweathermap.org/sample/
#export OPENWEATHER_CITY_ID='5128581'
#export OPENWEATHER_INTERVAL='6300'
